.home{
    width: 100%;
    height: 100vh;
    min-width: 320px;
    max-width: 800px;
    padding: 3rem 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}
.home p{
    line-height: 1.4rem;
}
.home section{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.home span{
    font-weight: bold;
}

@media (max-width:768px) {
    .home{
        gap: 3rem;
    }
}